//New Members & Recent activity Main
.new-members,
.recent-activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-members h3,
.recent-activity h3{
    align-self: flex-start;
}

.new-members{
    @include media-q("desktop"){
        border-right: 1px solid $color-grayborder;
    }
}

.members-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin: 10px auto;
    &:nth-of-type(n+2){
        border-top: 2px solid $color-grayborder;
    }
    @include media-q("small sc"){
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
}
.members-text{
    width: 100%;
    @include media-q("small sc"){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        margin-left: 10px;
        }
}

.user-message{
    @include media-q("desktop"){
        max-width: 290px;
    }
}


.members-text a{
    color: $color-main;
}

.more-info{
    display: none;
    @include media-q("small sc"){
        display: inline-block;
        align-self: center;
        color: $color-main;
        
    }
}

