$color-main: #7477bf;
$color-secondary: #4d4c72;
$color-highlight: #81c98f;

$color-white: #fff;

$color-grayfill: #f7f7f7;
$color-grayborder: #cccccc;
$color-btngray: #999;


$breakpoint:(
    'mobile': 479px,
    'tablets': 480px,
    'small sc': 768px,
    'desktop': 1025px,
    'xlrg sc': 1201px
);