.button-primary,
    .button-disabled{
        height: 35px;
        color: $color-white;
        ;
        border-radius: 7px;
        border: 1px solid $color-grayborder;
    }

    .button-primary {
        background-color: $color-main;
        &:active{
            background-color: $color-btngray;
        }
    }

    .button-disabled {
        background-color: $color-btngray;
        &:active{
            background-color: $color-main;
        }

    }

    .settings-buttons button{
        width: 40%;
    }