.daily-traffic {
    border-right: 1px solid $color-grayborder;
}

//Chart Sizes
.widget-container-full{
    width: 100%;
    margin: auto;
    @include media-q("small sc"){
        width: 100%;
    }
}


canvas {
    max-width: 100%;
  }