
.daily-traffic {
    border-right: 1px solid $color-grayborder;
}




//Chart Sizes
.widget-container-full{
    width: 100%;
    margin: auto;
    @include media-q("small sc"){
        width: 100%;
    }
}

.widget-container-half {
    @include media-q("small sc"){
        display: grid;
        justify-content: center;
        align-content: center;
        width: 100%;
        min-height:100%;
    }
}

canvas {
    max-width: 100%;
    height: 100%;
  }