

//Chart Sizes

.widget-container-full{
    width: 95%;
    margin: auto;
}

.widget-container-half{
    width: 100%;
    @include media-q("small sc"){
        
    }
}

canvas {
    max-width: 100%;
  }