//Main container 
.grid-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
    @include media-q('small sc'){
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main"
        ;
    }   
}

.header{
    grid-area: header;
}
.navigation{
    grid-area: navigation;
}
.main{
    grid-area: main;
}

.main{
    display: grid;
    @include media-q('small sc'){
       grid-template-columns: 50%;
    }   
}

@include media-q('small sc'){
    .dashboard,
    .traffic,
    .social-stats{
        grid-column: 1 / span 2;
    }
    
    .daily-traffic,
    .new-members,
    .message{
        grid-column: 1 / span 1;
    }

    .mobile-usersm
    .recent-activity,
    .settings{
        grid-column: 2 / span 1;
    }
}



