//Main

.main {
    width: 100%;
}

section {
    padding: 10px;
}

//Dashboard main
.dashboard {
    display: flex;
    justify-content: space-between;
}

.main h2, h3{
    padding: 10px 0 10px 12px;
}

.dashboard-search input{
    height: 50px;
    outline: none;
    background-color: lightgray;
    border-color: grey;
    border-top: none;
    border-right: none;
}

//Alert main
.alert{
    margin: 15px auto 0 auto;

}

.alert-banner {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin: auto;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $color-main;
}

//Base Secrtion CSS
section{
    border-bottom: 1px solid grey;

}

//Traffic main
.traffic-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 280px;
    margin: 0 auto 15px auto;
    padding: 0;
}

.traffic-nav-link{
    padding: 7px 12px;
    border-radius: 15px;
    
}

.active{
    background-color: $color-highlight;
    color: white;
}

//Social main
.social-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgrey;
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 90%;
    margin: 5px auto 15px auto;
    padding: 15px 0;
}

.soical-image{
    margin-left: 15px;
}

.social-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}

.social-text p {
    display: inline-block;
    margin: 0;
}

//New Members & Recent activity Main
.members-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 0;
    max-width: 90%;
    margin: 10px auto;
    &:nth-of-type(n+2){
        border-top: 2px solid black;
    }
}

.widget-container,
.settings{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    & *{
        margin-bottom: 15px;
    }
}
    .form-field,
    .form-area {
        width: 100%;
        padding: 5px 10px;
        background-color: lightgray;
        border-color: gray;
        border-radius: 5px;
        &::placeholder{
            color: blue;
        }
    }

    .form-field {
        height: 40px;
    }

    .form-area {
        height: 150px
    }

    .settings-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
