//Navigation Section
.navigation {
    width: 100%;
    height: 50px;
    background-color: $color-secondary;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.nav-icons{
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
