//Navigation Section
.navigation{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $color-secondary;
   
}

.nav-icons{
    display: flex;
    width: 70%;
    padding: 15px 0;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
}