svg{
    box-sizing: content-box;
}

.bell{
    width: 20px;
    stroke: white;
    fill: white;
}

.nav-icons svg {
    width: 25px;
    fill: white;
    stroke: white;
}

.socials svg{
    width: 45px;
    fill: white;
    stroke: 2px $color-main;
    background-color: $color-main; 
    padding: 25px;
}