svg{
    box-sizing: content-box;
}

.bell{
    width: 20px;
    stroke: $color-white;
    fill: $color-white;
}

.nav-icons svg {
    width: 25px;
    height: 59px;
    fill: $color-white;
    stroke: $color-white;
}

.socials svg{
    width: 45px;
    fill: $color-white;
    margin: auto;
}